name: "Lint GitHub Actions workflows"

on:
  workflow_call:
    inputs:
      skip-nasm-install:
        required: true
        type: boolean
      skip-libimagequant-install:
        required: true
        type: boolean
      skip-librabbitmq-install:
        required: true
        type: boolean
      skip-libgif-install:
        required: true
        type: boolean

permissions:
  contents: read

jobs:
  actionlint:
    name: "Install Node dependencies"

    runs-on: "${{ matrix.operating-system }}"
    timeout-minutes: 10

    strategy:
      fail-fast: false

      matrix:
        operating-system:
          - "ubuntu-latest"

        node-version:
          - "20"
          - "22"
          - "24"
          - "25"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
          lfs: false
          persist-credentials: false

      - name: "Set up NASM (for imagemin binary builds)"
        uses: "ilammy/setup-nasm@v1"
        if: inputs.skip-nasm-install == false

      - name: "install libimagequant-dev"
        run: "sudo apt-get install libimagequant-dev -y"
        if: inputs.skip-libimagequant-install == false

      - name: "install libpng-dev"
        run: "sudo apt-get install libpng-dev -y"
        if: inputs.skip-libimagequant-install == false

      - name: "install librabbitmq-dev"
        run: "sudo apt-get install librabbitmq-dev -y"
        if: inputs.skip-librabbitmq-install == false

      - name: "install libgif-dev"
        run: "sudo apt-get install libgif-dev"
        if: inputs.skip-libgif-install == false

      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: "actions/setup-node@v6"
        with:
          node-version: "${{ matrix.node-version }}"

      - name: "Check workflow files"
        uses: "raven-actions/actionlint@v2"
        with:
          matcher: true
          cache: true
          fail-on-error: false
          flags: "-ignore SC2086"
